<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppEnvironmentName</key>
	<string>$(APP_ENVIRONMENT_NAME)</string>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fitfluence.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitfluence</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>KeycloakClientId</key>
	<string>$(KEYCLOAK_CLIENT_ID)</string>
	<key>KeycloakRealm</key>
	<string>$(KEYCLOAK_REALM)</string>
	<key>KeycloakRedirectURI</key>
	<string>$(KEYCLOAK_REDIRECT_URI)</string>
	<key>KeycloakRegistrationHintMode</key>
	<string>$(KEYCLOAK_REGISTRATION_HINT_MODE)</string>
	<key>KeycloakScopes</key>
	<string>$(KEYCLOAK_SCOPES)</string>
	<key>KeycloakURL</key>
	<string>$(KEYCLOAK_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>192.168.88.81</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Приложению нужен доступ к локальной сети для подключения к вашему dev-серверу.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
