#include "Base.xcconfig"
SLASH = /
BASE_URL = https:$(SLASH)$(SLASH)176.108.251.89$(SLASH)api
KEYCLOAK_URL = https:$(SLASH)$(SLASH)176.108.251.89$(SLASH)auth
KEYCLOAK_REALM = fitfluence
KEYCLOAK_CLIENT_ID = fitfluence-ios
KEYCLOAK_REDIRECT_URI = fitfluence:$(SLASH)$(SLASH)oauth/callback
KEYCLOAK_SCOPES = openid
KEYCLOAK_REGISTRATION_HINT_MODE = kc_action
APP_ENVIRONMENT_NAME = PROD
